<style style="position: absolute; z-index: -999999;">
    #narrative-ui-container {
        --narrative-ui-container-background-src: url("{{backgroundImg}}");
    }
</style>
<div id='narrative-ui-container'>

</div>